* {
  margin: 0;
  padding: 0;
  float: left;
}

body {
  background-image: url(../img/back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.menu {
  width: 1000px;
  height: 70px;
  margin-left: 150px;
  margin-top: 50px;
}

.logo-text {
  width: 300px;
  height: 70px;
  background-color: rgb(45, 28, 39);
  opacity: 0.9;
  border-radius: 10px;
}

.logo {
  width: 70px;
}

.logo_text {
  color: rgb(255, 255, 255);
}

.menu-stroki {
  width: 600px;
  height: 70px;
  margin-left: 100px;
  background-color: rgb(45, 28, 39);
  opacity: 0.9;
  border-radius: 10px;
}

.sslki {
  color: white;
  margin-left: 15px;
  margin-top: 20px;
}

.hello {
  width: 1000px;
  height: 500px;
  margin-left: 150px;
  margin-top: 20px;
  background-color: rgb(45, 28, 39);
  opacity: 0.9;
  border-radius: 10px;
  color: white;
}

.hello-p {
  margin-top: 50px;
  margin-left: 300px;
}

.fakt {
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}

.sps {
  margin-top: 200px;
  margin-left: 350px;
}

.family {
  width: 1000px;
  height: 500px;
  margin-left: 150px;
  margin-top: 20px;
  background-color: rgb(45, 28, 39);
  opacity: 0.9;
  border-radius: 10px;
  color: white;
}

.family-text {
  margin-top: 20px;
  margin-left: 420px;
}

.samir {
  margin-left: 270px;
  margin-top: 41px;
}

.vlad {
  margin-top: 100px;
  margin-left: -550px;
}

.alisa {
  margin-top: 41px;
  margin-left: 20px;
}

.rus {
  margin-top: 41px;
  margin-left: 20px;
}

.foto {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.fio {
  margin-top: 210px;
  margin-left: -199px;
}

.years {
  margin-top: 30px;
}

.razrab {
  width: 1000px;
  height: 1550px;
  margin-top: 30px;
  margin-left: 150px;
  background-color: rgb(45, 28, 39);
  border-radius: 10px;
  opacity: 0.9;
  color: white;
}

.razrab-text {
  margin-top: 10px;
  margin-left: 430px;
}

.screen {
  height: 500px;
  margin-top: 20px;
  margin-left: 30px;
}

.screen2 {
  height: 400px;
  margin-top: 20px;
  margin-left: 10px;
}

.info1 {
  width: 1000px;
  height: 500px;
  margin-top: 20px;
  margin-left: 150px;
  background-color: rgb(45, 28, 39);
  border-radius: 10px;
  opacity: 0.9;
  color: white;
}

.polinfo {
  margin-top: 20px;
  margin-left: 350px;
}

.wideo {
  margin-top: 50px;
  margin-left: 250px;
}

.footer {
  width: 1000px;
  height: 180px;
  margin-top: 20px;
  background-color: rgb(34, 23, 30);
  border-radius: 10px;
  opacity: 0.8;
  margin-left: 150px;
  color: white;
}

.text__ {
  margin-top: 10px;
  margin-left: 300px;
}

.vk-image {
  width: 100px;
  margin-top: 30px;
  margin-left: 450px;
}